.login-signup {
    width: 25%;
    position: absolute!important;
    right: 5vw;
    top: 50%;
    transform: translate(0%, -50%);
    overflow: hidden;
    /* padding: 30px 50px; */
}
.login-btn, .signup-btn {
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    background: rgb(236, 72, 43);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 20px;
    clip-path: polygon(100% 0%, 94% 50%, 100% 100%, 10% 100%, 0% 50%, 10% 0%);
    position: relative;
    visibility: hidden;
    
}

.login-btn {
    margin-bottom: 20px;
    animation: login 1s 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.signup-btn {
    border-color:  none;   
    animation: signup 1s 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
.login-btn:hover, .signup-btn:hover {
    cursor: pointer;
}
@keyframes login {
    0%{
        right: -10px;
        visibility: visible;
    }
    25% {
        right: -8px;
        visibility: visible;
    }
    50% {
        visibility: visible;
        right: -5px;
    }
    75% {
        right: -2px;
        visibility: visible;
    }
    100% {
        right: 0px;
        visibility: visible;
    }
}

@keyframes signup {
    0%{
        left: -10px;
        visibility: visible;
    }
    25% {
        left: -8px;
        visibility: visible;
    }
    50% {
        visibility: visible;
        left: -5px;
    }
    75% {
        left: -2px;
        visibility: visible;
    }
    100% {
        left: 0px;
        visibility: visible;
    }
}
